.hero{
    background: url("./../../../public/images/hero.jpg");
    background-size: cover;
    height: calc(100vh - 111px);
    position: relative;
}

.hero .intro{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%;
}

.hero .intro h1{
    color:var(--main-color);
    margin: 0;
    font-weight: bold;
    font-size: 60px;
}

.hero .intro p{
    font-size: 20px;
    line-height: 1.7;
    width: 40%;
    margin: auto;
}

.hero .intro p span{
    font-size: 22px;
    font-weight: bold;
    color: var(--main-color);
}


@media(max-width:992px){

    .hero .intro p{
        width: 60%;
    }

}

@media(max-width:768px){

    .hero .intro h1{
        font-size: 54px;
    }
    
    .hero .intro p{
        width: 70%;
    }

}

@media(max-width:500px){

    .hero .intro h1{
        font-size: 50px;
    }
    
    .hero .intro p{
        width: 80%;
    }

}












