.features
{
    padding-top: 60px;
    padding-bottom: 60px;
    background: #f6f6f6;
}

.features .container
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;

}

.features .feat
{
    padding: 20px;
    text-align: center;
}

.features .feat svg
{
    color:var(--main-color);
    font-size: 3rem;
}

.features .feat h3
{
    font-weight: 800;
    margin: 25px 0;
}

.features .feat p 
{
    font-size: 18px;
    color:#666;
    line-height: 1.5;
}