.footer
{
    background-color: var(--second-color);
    text-align: center;
    font-size: 18px;
    color:#fff;
    padding:25px 10px;
    font-weight: 700;
}

.footer svg{
    color:var(--main-color);
}

.footer a{
    text-decoration: none;
    color: var(--main-color);
    padding: 0 5px;
}

.footer a:hover{
    text-decoration: underline;
    opacity: 0.9;
}